1 VERSIONINFO
    FILEVERSION     1,2,2,0
    PRODUCTVERSION  1,2,2,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "Don McCaughey\0"
            VALUE "FileDescription",    "C-evo-x Win32 Loader\0"
            VALUE "FileVersion",        "1.2.2.0\0"
            VALUE "InternalName",       "CevoWin32\0"
            VALUE "LegalCopyright",     "In the public domain\0"
            VALUE "OriginalFilename",   "CevoWin32.exe\0"
            VALUE "ProductName",        "C-evo-x\0"
            VALUE "ProductVersion",      "1.2.2\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 1252
    END
END

