<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>
        <DirectoryRef Id='Dir_Graphics' FileSource='tmp\Graphics'>
            <Component Id='Comp_Graphics_Background.bmp'
                     Guid='2AB51074-78D3-46BC-A990-A0AC2085FACB'>
                <File Name='Background.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_BigCityMap.bmp'
                     Guid='E5E03EE3-BA70-480E-8251-DE820E7E7B4B'>
                <File Name='BigCityMap.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Cities66x32.bmp'
                     Guid='9D21B8BC-EA2E-4D60-9BD5-D26EFFE4A3B6'>
                <File Name='Cities66x32.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Cities66x32.credits.txt'
                     Guid='DD810935-7F74-4E9E-85F3-A06CF585D3BC'>
                <File Name='Cities66x32.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Cities96x48.bmp'
                     Guid='6CE67857-0968-4BE4-832B-5FC2296FF8FB'>
                <File Name='Cities96x48.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Cities96x48.credits.txt'
                     Guid='44869E9D-157B-44B5-AF18-E3BF08836A3E'>
                <File Name='Cities96x48.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_City.bmp'
                     Guid='CA20CCCD-1C74-45E1-9974-5AA9E1CBF4C1'>
                <File Name='City.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Colors.bmp'
                     Guid='9D2B5CB6-AF92-470B-9965-0682A741CB90'>
                <File Name='Colors.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Icons.bmp'
                     Guid='FF03CDD9-533B-409D-8BE7-D83E871C8E67'>
                <File Name='Icons.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Icons.credits.txt'
                     Guid='244B0C13-9D1F-4F9F-9BD3-6230D432DEF5'>
                <File Name='Icons.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_MiliRes.bmp'
                     Guid='8961E049-4B41-4F05-A683-2908BBF99B2B'>
                <File Name='MiliRes.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Nation.bmp'
                     Guid='7863B142-F8FE-49C8-B7C6-D3BD0777F38D'>
                <File Name='Nation.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Nation1.bmp'
                     Guid='A352E6F4-0367-4BD7-A75F-4C41B6353931'>
                <File Name='Nation1.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Nation1.credits.txt'
                     Guid='8A1B4E33-1682-4475-B7B4-F351EEDC0104'>
                <File Name='Nation1.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Nation2.bmp'
                     Guid='A2D3734C-F7BB-4DB3-A4B6-7A5E2038D5B4'>
                <File Name='Nation2.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Nation2.credits.txt'
                     Guid='B8F0066D-6DEA-442B-9C79-3C0C9A980DF4'>
                <File Name='Nation2.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Paper.jpg'
                     Guid='37546948-08D8-42F3-BBBD-E363CE99AE55'>
                <File Name='Paper.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_SmallCityMap.bmp'
                     Guid='165AE9F3-B5B0-4F1E-B364-63A0AA236E77'>
                <File Name='SmallCityMap.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_StdCities.bmp'
                     Guid='4E8E8805-3C6F-4ADF-9597-A4D5C815CBE0'>
                <File Name='StdCities.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_StdCities.credits.txt'
                     Guid='E2EA322E-4071-482B-8B0F-5247E690831D'>
                <File Name='StdCities.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_StdUnits.bmp'
                     Guid='52ED5191-89F9-4AC8-8B1B-675DB2955AFF'>
                <File Name='StdUnits.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_StdUnits.credits.txt'
                     Guid='B0419B27-CA78-434D-A5D4-6C6AF960AB3B'>
                <File Name='StdUnits.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_System.bmp'
                     Guid='B2253BB7-89D8-4DDD-BA73-73CCC2613300'>
                <File Name='System.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_System2.bmp'
                     Guid='E36C6F36-DE2E-46D4-862D-F8AC562D0125'>
                <File Name='System2.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Templates.bmp'
                     Guid='92D340E6-0540-4610-9A8B-1B2D802774D3'>
                <File Name='Templates.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Terrain66x32.bmp'
                     Guid='87CC59DD-DF19-4663-B308-F2BD3C938BFC'>
                <File Name='Terrain66x32.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Terrain66x32.credits.txt'
                     Guid='6D201E2C-C388-4FEC-9DB6-44C8D093B0F1'>
                <File Name='Terrain66x32.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Terrain96x48.bmp'
                     Guid='18F01467-F2DE-4FDE-ADD6-467B74C0087C'>
                <File Name='Terrain96x48.bmp' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Terrain96x48.credits.txt'
                     Guid='A64AA289-3C68-4718-BC79-73C53602D507'>
                <File Name='Terrain96x48.credits.txt' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Texture0.jpg'
                     Guid='52DF30F1-436C-4A56-A507-03068F0FE64A'>
                <File Name='Texture0.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Texture1.jpg'
                     Guid='0772FA42-CD3F-4B9E-8259-C949A386D3CE'>
                <File Name='Texture1.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Texture2.jpg'
                     Guid='758F3818-CBF9-4D56-B877-1CC61BE08075'>
                <File Name='Texture2.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Texture3.jpg'
                     Guid='D34A8371-BCFE-443D-8692-85DA0B6F503F'>
                <File Name='Texture3.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Texture4.jpg'
                     Guid='29D2B389-9DE5-428F-9EEC-7FAA95A7978F'>
                <File Name='Texture4.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Comp_Graphics_Unit.bmp'
                     Guid='1775B4EA-C62D-4DE0-9E1B-D5DBC0C077EA'>
                <File Name='Unit.bmp' KeyPath='yes' />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>

