<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Name='C-evo-x 1.2.1'
        Manufacturer='Don McCaughey'
        Id='E0F2FD43-1B26-46FA-B0DA-93FF2CFFB7C1' 
        UpgradeCode='D1E02258-0353-478A-9B73-4EF7F006B675'
        Language='1033'
        Codepage='1252'
        Version='1.2.1'>
        <Package Id='*'
            Keywords='Installer'
            Description='C-evo-x 1.2.1 Installer'
            Manufacturer='Don McCaughey'
            InstallerVersion='100'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'
            />
        <Media Id='1'
            Cabinet='Installer.cab'
            EmbedCab='yes'
            DiskPrompt='Disk 1'
            />
        <Property Id='DiskPrompt'
            Value='C-evo-x 1.2.1 Installer'
            />
        <Directory Id='TARGETDIR' Name='SourceDir' DiskId='1'>
            <Directory Id='ProgramFilesFolder' Name='Program Files'>
                <Directory Id='INSTALLDIR' Name='C-evo-x'>
                    <Directory Id='Dir_AppData' Name='AppData'>
                        <Directory Id='Dir_AppData_Saved' Name='Saved' />
                    </Directory>
                    <Directory Id='Dir_Help' Name='Help' />
                    <Directory Id='Dir_Graphics' Name='Graphics' />
                    <Directory Id='Dir_Sounds' Name='Sounds' />
                    <Directory Id='Dir_Tribes' Name='Tribes' />
                </Directory>
            </Directory>
        </Directory>
        <Feature Id='Feature_Complete' Level='1'>
            <ComponentRef Id='Comp_CevoWin32.exe' />
            <ComponentRef Id='Comp_cevo.dll' />
            <ComponentRef Id='Comp_fonts.txt' />
            <ComponentRef Id='Comp_language.txt' />
            <ComponentRef Id='Comp_language2.txt' />
            <ComponentRef Id='Comp_StdAI.ai.txt' />
            <ComponentRef Id='Comp_StdAI.bmp' />
            <ComponentRef Id='Comp_StdAI.dll' />
            
            <ComponentRef Id='Comp_AppData_Saved__Example_.cevo' />
        </Feature>
        <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />
        <UIRef Id='UI' />
        <UIRef Id='WixUI_ErrorProgressText' />
    </Product>
</Wix>

