<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>
        <DirectoryRef Id='Dir_AppData_Saved' FileSource='tmp\AppData\Saved'>
            <Component Id='Comp_AppData_Saved__Example_.cevo'
                     Guid='84244C1E-2C49-4F94-BB18-E789F0789608'>
                <File Name='(Example).cevo' KeyPath='yes' />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>

